apiVersion: batch/v1
kind: CronJob
metadata:
  name: cron-job-nodejs
spec:
  schedule: "* * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: nodejs-cron-job
            image: khannedy/nodejs-job
