apiVersion: apps/v1
kind: ReplicaSet
metadata:
  name: nginx-rs
spec:
  replicas: 5
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      name: nginx
      labels:
        app: nginx-app
    spec:
      containers:
        - name: nginx
          image: nginx